# Configuration file

behavior {
    # Enables or disables untamed wolves howling at the full moon.
    B:config.wolfarmor.behavior.enableHowlingUntamedWolves=false

    # Enables or disables wolves eating food in their inventories when their health is low.
    B:config.wolfarmor.behavior.shouldWolvesEatWhenDamaged=true
}


client {
    # Enables or disables displaying a wolf's armor value in the wolf inventory screen.
    B:config.wolfarmor.client.enableWolfArmorDisplay=true

    # Enables or disables rendering of wolf armor.
    B:config.wolfarmor.client.enableWolfArmorRender=true

    # Enables or disables rendering of wolf backpacks.
    B:config.wolfarmor.client.enableWolfChestRender=true

    # Enables or disables displaying a wolf's health value in the wolf inventory screen.
    B:config.wolfarmor.client.enableWolfHealthDisplay=true
}


general {
    # Sets the horizontal size of the wolf chest
    I:config.wolfarmor.general.chestSize.horizontal=3

    # Sets the vertical size of the wolf chest
    I:config.wolfarmor.general.chestSize.vertical=2

    # Enables or disables wolf backpacks.
    B:config.wolfarmor.general.enableChests=true
}


