# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockDecorative=true
    B:WayofTime.bloodmagic.block.BlockDemonBase=true
    B:WayofTime.bloodmagic.block.BlockDemonLight=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarBase=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarCapBase=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:allthelayers.candles.init.blocks.decorations.ATLCraftDecoBlockSolid=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:cofh.thermalfoundation.block.BlockStorageResource=true
    B:com.brandon3055.brandonscore.blocks.BlockBCore=true
    B:com.brandon3055.brandonscore.blocks.BlockMobSafe=true
    B:"com.brandon3055.draconicevolution.DEFeatures$1"=true
    B:com.brandon3055.draconicevolution.blocks.DraconiumBlock=true
    B:com.brandon3055.draconicevolution.blocks.DraconiumOre=true
    B:com.brandon3055.draconicevolution.blocks.ItemDislocationInhibitor=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonBone=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonScales=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingReturningState=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockMyrmexResin=true
    B:com.github.alexthe666.iceandfire.block.BlockSeaSerpentScales=true
    B:com.greatorator.tolkienmobs.block.BlockLeaf=true
    B:com.greatorator.tolkienmobs.block.BlockLogs=true
    B:com.greatorator.tolkienmobs.block.BlockOres=true
    B:com.greatorator.tolkienmobs.block.BlockPlank=true
    B:com.greatorator.tolkienmobs.objects.blocks.BlockBase=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.knoxhack.betteragriculture.blocks.FancyTileBlock=true
    B:com.knoxhack.betteragriculture.blocks.LargeTileBlock=true
    B:com.knoxhack.betteragriculture.blocks.SlateBlock=true
    B:com.knoxhack.betteragriculture.blocks.SmallTileBlock=true
    B:com.knoxhack.betteragriculture.blocks.TinyTileBlock=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.rwtema.extrautils2.blocks.BlockSimpleDecorative=true
    B:"com.rwtema.extrautils2.blocks.XUTree$XUTreePlanks"=true
    B:com.zerofall.ezstorage.block.BlockAccessTerminal=true
    B:com.zerofall.ezstorage.block.BlockBlankBox=true
    B:com.zerofall.ezstorage.block.BlockCondensedStorage=true
    B:com.zerofall.ezstorage.block.BlockCraftingBox=true
    B:com.zerofall.ezstorage.block.BlockHyperStorage=true
    B:com.zerofall.ezstorage.block.BlockSearchBox=true
    B:com.zerofall.ezstorage.block.BlockSortBox=true
    B:com.zerofall.ezstorage.block.BlockStorage=true
    B:com.zerofall.ezstorage.block.BlockSuperStorage=true
    B:com.zerofall.ezstorage.block.BlockUltraStorage=true
    B:epicsquid.mysticallib.block.BlockLeavesBase=true
    B:"forestry.apiculture.blocks.BlockHoneyComb$1"=true
    B:"forestry.arboriculture.blocks.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.BlockArbPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockAshBrick=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:hellfirepvp.astralsorcery.common.block.BlockBlackMarble=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomSandOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockInfusedWood=true
    B:hellfirepvp.astralsorcery.common.block.BlockMarble=true
    B:ipsis.woot.block.BlockSoulStone=true
    B:ipsis.woot.block.BlockStygianIron=true
    B:ipsis.woot.block.BlockStygianIronOre=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockDoubleStoneSlab=true
    B:net.minecraft.block.BlockDoubleWoodSlab=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:noppes.vc.blocks.BlockPlaceholder=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$37$1"=true
    B:"team.chisel.Features$49$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$57$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$73"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:teamroots.embers.block.BlockBase=true
    B:teamroots.embers.block.BlockCaminiteLever=true
    B:teamroots.embers.block.BlockQuartzOre=true
    B:vazkii.quark.automation.block.BlockGravisand=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMagmaBricks=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedNetherrack=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockSturdyStone=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockTurf=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStoneCarved=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiomeBrick=true
    B:vazkii.quark.world.block.BlockBiomeCobblestone=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockCrystal=true
    B:vazkii.quark.world.block.BlockElderPrismarine=true
    B:vazkii.quark.world.block.BlockElderSeaLantern=true
    B:vazkii.quark.world.block.BlockJasper=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:vazkii.quark.world.block.BlockSlate=true
    B:vazkii.quark.world.block.BlockVariantLeaves=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


"revertible states" {
    B:"minecraft%3Aglowstone?"=true
    B:"minecraft%3Amonster_egg?variant=cracked_brick"=true
    B:"minecraft%3Astone?variant=granite"=true
    B:"minecraft%3Astone?variant=stone"=true
    B:"tconstruct%3Abrownstone?type=paver"=true
}


troublershooting {
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


