# Configuration file

display {
    I:"Screen Overlay Position"=0
}


worldgen {
    # Density: Chances per chunk
    I:"Copper Density"=5
    I:"Copper Max Y"=50
    I:"Copper Min Y"=30
    I:"Lead Density"=5
    I:"Lead Max Y"=40
    I:"Lead Min Y"=20
    I:"Tin Density"=5
    I:"Tin Max Y"=64
    I:"Tin Min Y"=40
    I:"Zinc Density"=5
    I:"Zinc Max Y"=40
    I:"Zinc Min Y"=20
}


"worldgen disabler" {
    B:"Generate Copper"=true
    B:"Generate Lead"=true
    B:"Generate Tin"=true
    B:"Generate Zinc"=true
}


