# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=0
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMatrial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockDemonBase=true
    B:WayofTime.bloodmagic.block.BlockDemonLight=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarBase=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarCapBase=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:allthelayers.candles.init.blocks.decorations.ATLCraftDecoBlockSolid=true
    B:am2.blocks.BlockArsMagicaBlock=true
    B:am2.blocks.BlockArsMagicaOre=true
    B:am2.blocks.BlockEffigy=true
    B:am2.blocks.BlockWitchwoodLog=true
    B:am2.blocks.BlockWitchwoodPlanks=true
    B:betteragriculture.TileColorBlock2=true
    B:betteragriculture.blocks.BasicBlock=true
    B:betteragriculture.blocks.ModBlockOre=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.BeehiveBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.rwtema.extrautils2.blocks.BlockSimpleDecorative=true
    B:common.legobmw99.allomancy.blocks.OreBlock=true
    B:elucent.roots.block.BlockBase=true
    B:elucent.roots.block.BlockDirtBase=true
    B:elucent.roots.block.BlockDoubleSlabBase=true
    B:elucent.roots.block.BlockLogBase=true
    B:elucent.roots.block.BlockSandBase=true
    B:"forestry.arboriculture.blocks.log.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.log.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockArbPlanks$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.generic.BlockGeneric=true
    B:mods.railcraft.common.blocks.ore.BlockOre=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:noppes.npcs.blocks.BlockPlaceholder=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableAltarComponent=true
    B:team.chisel.common.block.BlockCarvableBookshelf=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:team.chisel.common.block.BlockCarvableTranquility=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


