# Configuration file

ai {
    I:aiTickRate=1
    B:multithreadedAI=false
    I:threadCount=1
}


biomes {
    S:customBiomeMappings <
     >
    B:resetAllTerrain=false
}


blockentity {
    B:autoBlacklistErroredTEs=true
    S:blockblacklist <
        minecraft:bedrock
     >
    S:teblacklist <
     >
}


explosions {
    B:affectAir=true
    I:explosionRadius=127
    I:explosionRate <
        2000
        10000
     >
    D:minBlastEffect=0.25
}


misc {
    B:debug=true
}


